body{
	background-image: url("../img/lace.png");
}

.Header{
	font-family: Georgia;
}
.card{
	margin-top: 25px;
}

.Title{
	font-family: Georgia;
}

.card-header{
	color: pink;
}

h5{
	font-family:Didot;
	color:#b4b4b4
}

.heading {
	text-align: center;
	font-family: Didot;
	font-size: 100PX;
	color:#3535352e;
}

.Intro{
	color:#b4b4b4
}